.index {
  background-image: url(../images/latchkeyperbckgrnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

.jumbotron {
  width: 50%;
  height: 25%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgba(214, 248, 214, .5);
  border: solid 2px #436565;

}
.latchLink{
  color: #02111b;
}

#bar-chart {
  margin: 10px;
}
body {
  background-color: rgb(214, 248, 214);
}

h1, h4 {
  color: #02111b;
  font-family: 'Spinnaker', sans-serif;
}

.welcometron, .message{
  background-color: #fff;
}

.btn:hover {
  background-color: #75c6a4;
}

.nav-link{
  background-color: rgba(214, 248, 214, .5);
  color: #02111b;
}
.card-header{
  background-color: #75c6a4;
}

.btn-primary{
  background-color: #02111b;
  border: #02111b;
}

.card {
  background-color: #fff;
  border: none;
}

.image-wrapper {
    position: relative;
    width: 250px;
    margin-left: 12%;
}
.image-wrapper h1 {
    position: absolute;
    left: 120px;
    top: 0;
    padding: 10px;
    width: 218px;
    color: black;
    margin: 5px;
}
